<!doctype html>

<html lang="en">	
	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
		
		<title><%= @title %></title>
		<meta name="description" content="Visual Interaction Design & Creative Direction"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>

		<link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="/css/style.css">

		<script src="/libs/matchmedia.js"></script>
		<script src="/libs/picturefill.js"></script>
	</head>
	
	<body id="<%= @site_id %>">
		<header>
			<div class="wrapper">
				<a href="/" id="logo"><span>Home</span></a>
				<nav>
					<a href="/projects" <%=nav_class("projects")%>> Projects</a><a href="/info" <%=nav_class("info")%>>Info</a><a href="/notes" <%=nav_class("notes")%>>Notes</a>
				</nav>
			</div>
		</header>

		<%= yield %>
		
		<footer></footer>
	</body>
</html>